#rmplus-logo {
  text-align: left;
  margin-top: 10px;
}
#rmplus-logo div {
  border: 1px solid #E4E4E4;
  padding: 5px;
}
#rmplus-logo span{
  font-size: 12pt;
  margin-left: 5px;
}
#rmplus-logo img{
  vertical-align: bottom;
}