#ldapgroup_group_id, #ldapgroup_ldap_group_name
	{
	width: 400px;	
	}
	
#ldapgroups
	{
	border: 1px solid #E4E4E4;
	border-collapse: collapse;
	width: auto;
	}
#ldapgroups th
	{
	text-align: left;
	}
	
#ldapgroups th, #ldapgroups td
	{
	padding: 8px;
	}
	